[access]
	inheritFrom = All-Projects
[project]
	description = Online coverage data validator https://coverage-validator-beta.herokuapp.com/
[submit]
	action = rebase if necessary
[plugin "slack-integration"]
    enabled = true
    webhookurl = https://hooks.slack.com/services/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
    channel = coverage-validator
    username = gerrit
    ignore = "^WIP.*"